/*
@define-color text           #E5E9F0;
@define-color background     #2E3440;
@define-color background-alt #383E4A;
@define-color selected       #81A1C1;
@define-color hover          #A3BE8C;
@define-color urgent         #A3BE8C;
@define-color surface        #FFFFFF;
@define-color surface-hover  #FFFFFF;
*/

@import '../custom/current/theme/waybar.css';
@import 'Styles/notifications.css';
@import 'Styles/central_control.css';
