@import "../custom/current/theme/waybar.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  min-height: 0;
}

tooltip {
  opacity: 1;
}

window#waybar {
  background-color: @background;
  color: @foreground;
  border-radius: 10px;
}

#custom-powermenu {
  font-size: 15px;
  margin: 5px;
  padding: 0 5px;
  border-radius: 5px;
  background-color: @border;
}

window#waybar.empty #window{
  background: transparent;
  color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

#workspaces {
  margin: 4px 4px;
  padding: 0 4px;
  background-color: @border;
  margin-left: 0px;
}

#workspaces button {
  margin: 0px 0px;
  padding: 0 4px;
  background-color: transparent;
  color: @foreground;
  border-radius: 5px;
  transition: 0.15s ease-in-out;
}

#workspaces button:hover {
  background: @background;
}

#workspaces button.active {
  background-color: @accent;
  color: @border;
  margin: 0px 0px;
  padding: 0 4px;

}

#workspaces button.empty {
  color: alpha(@foreground, 0.4);
  opacity: 0.45;
  transition: all 0.15s ease-in-out;
}

#workspaces button.empty.active {
  background-color: @foreground;
  color: @background;
}

#hyprland-window,
#clock,
#battery,
#cpu,
#mpris,
#network,
#pulseaudio,
#idle_inhibitor,
#power-profiles-daemon,
#tray,
#bluetooth,
#backlight,
#custom-updatespacman{
  padding: 0 8px;
  color: #e6d8ba;
  margin: 5px 5px 5px 0;
}

#tray {
  background-color: @border;
}

#clock, #idle_inhibitor, #custom-updatespacman {
background-color: @border;
color: @foreground;
}

#battery {
  background-color: @border;
  color: @foreground;
}

#battery.charging,
#battery.plugged {
  color: @foreground;
  background-color: @border;
}

@keyframes blink {
  to {
    background-color: #e6d8ba;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #e6d8ba;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#backlight {
  background-color: @border;
  color: @foreground;
}

#power-profiles-daemon.performance {
  background-color: #ff9b71;
  color: #000;
}

#power-profiles-daemon.balanced {
  background-color: @border;
  color: @foreground;
}

#power-profiles-daemon.power-saver {
  background-color: @border;
  color: @foreground;
}

#cpu {
  background-color: @border;
  color: @foreground;
}

#mpris {
  background-color: @border;
  color: @foreground;
}

#network {
  background-color: @border;
  color: @foreground;
}

#network.disconnected {
  background-color: #ff9b71;
  color: #000;
}

#bluetooth {
  background-color: @border;
  color: @foreground;
}

#bluetooth.disabled {
  background-color: #ff9b71;
  color: #000;
}

#pulseaudio {
  background-color: @border;
  color: @foreground;
}

#pulseaudio.muted {
  background-color: #ff9b71;
}

tooltip {
 padding: 4px;
 background: @border;
 border: 1px solid alpha(@foreground, 0.8);
 border-radius: 8px;
 box-shadow: 1px 1px 3px 1px #131313;
 font-size: 12px;
}
tooltip label {
    color: @foreground;
    font-weight: normal;
}

/* Specific animation Module */

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

@keyframes blink-inhibitor {
    to {
        color: @background;
    }
}


#mpris {
color: @foreground;
font-size: 13px;
padding-top: 1px;
margin-right: 0px;
}
