@import "../custom/current/theme/waybar.css";
* {
  background-color: @background;
  color: @foreground;


  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 13px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,

#tray {
  margin-right: 16px;
}

#network {
  margin-right: 6px;
}

#cpu {
  margin-right: 10px;
}

#custom-expand-icon {
  margin-right: 13px;
}

tooltip {
  padding: 2px;
}


#clock {
  margin-left: 8.75px;
  font-weight: bold;
  font-size: 13;
}

.hidden {
  opacity: 0;
}

#mpris {
  margin-left: 25px;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
  margin-right: 6px;
  color: #1db954;
}

